Repository MouadFiali/gke-cloud-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, validate-version, package-release-chart

Path conditions:
  deploy: any of: src/**/*
  validate-version: any of: helm-chart/**/*
  package-release-chart: any of: helm-chart/**/*

chore: re-initialize helm versions after testing
  helm-chart/Chart.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

chore: test pipeline #patch
  src/adservice/README.md
  src/cartservice/src/Startup.cs
Due: deploy

CI#patch - Update image version(s) in values.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.1.1
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

chore: re-initialize versions in helm chart after testing
  helm-chart/Chart.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

chore: remove the releases folder as it is no longer needed
  releases/onlineboutique-chart-0.1.0.tgz
  releases/onlineboutique-chart-0.1.1.tgz
Due: none

#patch Add BusinessLogger for logging ad requests and serving metrics
  src/adservice/src/main/java/hipstershop/AdService.java
  src/adservice/src/main/java/hipstershop/BusinessLogger.java
Due: deploy

#patch Add business logger to all services
  src/cartservice/src/Startup.cs
  src/cartservice/src/appsettings.json
  src/cartservice/src/cartstore/RedisCartStore.cs
  src/cartservice/src/logging/BusinessLogger.cs
  src/cartservice/src/services/CartService.cs
  src/cartservice/src/services/HealthCheckService.cs
  src/checkoutservice/business_logger.go
  src/checkoutservice/main.go
  src/currencyservice/businessLogger.js
  src/currencyservice/server.js
  src/emailservice/business_logger.py
  src/emailservice/email_server.py
  src/frontend/business_logger.go
  src/frontend/handlers.go
  src/frontend/main.go
  src/paymentservice/businessLogger.js
  src/paymentservice/charge.js
  src/productcatalogservice/business_logger.go
  src/productcatalogservice/product_catalog.go
  src/productcatalogservice/server.go
  src/recommendationservice/business_logger.py
  src/recommendationservice/recommendation_server.py
  src/shippingservice/business_logger.go
  src/shippingservice/main.go
Due: deploy

CI - Update chart version to 0.1.2
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

Update image repository in values.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

#minor Remove unnecessary comment in values.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.2.0
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#minor Add imagePullSecrets to service templates
  helm-chart/templates/adservice.yaml
  helm-chart/templates/cartservice.yaml
  helm-chart/templates/checkoutservice.yaml
  helm-chart/templates/currencyservice.yaml
  helm-chart/templates/emailservice.yaml
  helm-chart/templates/frontend.yaml
  helm-chart/templates/paymentservice.yaml
  helm-chart/templates/productcatalogservice.yaml
  helm-chart/templates/recommendationservice.yaml
  helm-chart/templates/shippingservice.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.3.0
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

Update namespace and logging configuration
  ansible/application-argocd.yaml.j2
  ansible/argocd-secret-access.yaml
  ansible/deploy-argocd.yaml
  scripts/run_ansible_playbooks.sh
  terraform/main.tf
  terraform/output.tf
  terraform/providers.tf
  terraform/terraform.tfvars
Due: none

Add SMTP configuration for Grafana and create secret if not exists
  ansible/custom-values/prom-grafana-values.yaml
  ansible/prometheus-grafana.yml
  scripts/run_ansible_playbooks.sh
  terraform/terraform.tfvars
  terraform/variables.tf
Due: none

Update local-exec command in main.tf
  terraform/main.tf
Due: none

Enhance Grafana SMTP configuration and streamline Helm installation process
  ansible/custom-values/prom-grafana-values.yaml
  ansible/prometheus-grafana.yml
Due: none

#minor update checkout for canary testing
  src/checkoutservice/main.go
Due: deploy

CI - Update chart version to 0.3.1
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch frontend canary testing
  src/frontend/main.go
Due: deploy

CI - Update chart version to 0.3.2
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#minor Add canary deployment for frontend service
  ansible/application-argocd.yaml.j2
  helm-chart/templates/frontend.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.0
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update frontend.yaml for canary deployment
  helm-chart/templates/frontend.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.1
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update canary analysis configuration in frontend.yaml
  helm-chart/templates/frontend.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.2
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update NOTES.txt to use canary instead of virtualService
  helm-chart/templates/NOTES.txt
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.3
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Fix indentation in frontend.yaml
  helm-chart/templates/frontend.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.4
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Refactor indentation for frontend canary hosts in helm chart
  helm-chart/templates/frontend.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.5
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch update frontend for canary testing
  src/frontend/main.go
Due: deploy
