Repository MouadFiali/gke-cloud-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, validate-version, package-release-chart

Path conditions:
  deploy: any of: src/**/*
  validate-version: any of: helm-chart/**/*
  package-release-chart: any of: helm-chart/**/*

CI#patch - Update image version(s) in values.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.6.8
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

Update Gitignore and Helm commands, enable tracing and logging, update project ID
  .gitignore
  ansible/application-argocd.yaml.j2
  ansible/custom-values/prom-grafana-values.yaml
  ansible/dashboards/tempo_tracing_dashboard.json
  ansible/deploy-argocd.yaml
  ansible/deploy-load-generator.yml
  ansible/install-istio-flagger.yml
  ansible/prometheus-grafana.yml
  scripts/run_ansible_playbooks.sh
  terraform/load-generator.tf
  terraform/main.tf
  terraform/output.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: none

#patch Fix license comment formatting
  src/frontend/main.go
Due: deploy

CI - Update chart version to 0.6.9
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

project report
  report.md
Due: none

Add new asset files for autoscaler, canary, Kiali, Loki, and OpenTelemetryCollector
  assets/autoscaler-diagram.jpg
  assets/autoscaler-project.jpg
  assets/autoscaling-alert.jpg
  assets/canary-dashboard.jpg
  assets/canary-failed.jpg
  assets/canary-promotion.jpg
  assets/canary-rollback-alert.jpg
  assets/canary-workflow.jpg
  assets/kiali-traffic.jpg
  assets/loki-grafana-dashboard.jpg
  assets/loki-logging.jpg
  assets/loki-tolerations.jpg
  assets/opentelemetrycollector-logs.jpg
Due: none

Update the report
  assets/cicd-pipeline.png
  assets/imag.svg
  assets/locust-alert.png
  assets/locust-dashboard.png
  assets/opentelemetry.png
  assets/redis-dashboard.png
  assets/redis-sidecar.png
  assets/tracing-dashboard.png
  assets/uga.svg
  report.md
Due: none

Add README.md with project overview and deployment instructions
  README.md
Due: none

Update report
  assets/uga.svg
  report.md
Due: none

Update report title to use a larger heading
  report.md
Due: none

Refactor report formatting to use consistent div alignment for images
  report.md
Due: none

Add deployment cost optimization strategy
  assets/gke-nat-router.jpg
  report.md
Due: none

Update report
  assets/performance/bottleneck-1.png
  assets/performance/breaking-point-hpa.png
  assets/performance/checkout-bottleneck.png
  assets/performance/checkout-code-problem.png
  assets/performance/currency-high-usage.png
  assets/performance/currency-scaling.png
  assets/performance/frontend-code-problem.png
  assets/performance/high-nodes.png
  assets/performance/max-rps.png
  assets/performance/nodes-saturation.png
  assets/performance/phase2-response-time.png
  assets/performance/phase3-response-time.png
  assets/performance/users-at-5k.png
  report.md
Due: none

Add detailed table of contents and list of abbreviations to report
  report.md
Due: none

Fix table of contents in the report
  report.md
Due: none
