Repository MouadFiali/gke-cloud-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, validate-version, package-release-chart

deploy:
  stage: deploy
  image: python:3.9
  before_script:
  - pip install ruamel.yaml
  - apt-get update && apt-get install -y git
  script:
  - git config --global user.email "bot@example.com"
  - git config --global user.name "CI Bot"
  - git pull origin $CI_COMMIT_REF_NAME
  ...

validate-version:
  stage: validate
  image: alpine:latest
  before_script:
  - echo "Installing required tools - yq, Git & bash..."
  - apk add --no-cache git curl bash
  - curl -sLo /usr/bin/yq https://github.com/mikefarah/yq/releases/download/v4.44.6/yq_linux_amd64
  - chmod +x /usr/bin/yq
  script:
  ...

package-release-chart:
  stage: package-release
  image: alpine:latest
  before_script:
  - echo "Installing required tools - helm..."
  - apk add --no-cache curl git bash openssl
  - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
  - chmod 700 get_helm.sh
  - ./get_helm.sh
  script:
  ...

CI#patch - Update image version(s) in values.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.6
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

Update Prometheus and Grafana configuration
  ansible/custom-values/prom-grafana-values.yaml
  ansible/prometheus-grafana.yml
Due: none

chore: #patch test new images
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.7
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update resouces
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.8
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update image repository and downgrade service tags to v0.10.2
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.9
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Downgrade checkout service image tag to v0.10.2
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.10
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Increase CPU resource requests and limits for adService
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.11
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Increase CPU resource requests and limits for multiple services
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.4.12
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

feat: Add Ansible playbook for load generator swarming
  ansible/swarm-load-generator.yml
Due: none

#minor Add HorizontalPodAutoscaler for services
  helm-chart/templates/adservice.yaml
  helm-chart/templates/cartservice.yaml
  helm-chart/templates/checkoutservice.yaml
  helm-chart/templates/currencyservice.yaml
  helm-chart/templates/emailservice.yaml
  helm-chart/templates/frontend.yaml
  helm-chart/templates/paymentservice.yaml
  helm-chart/templates/productcatalogservice.yaml
  helm-chart/templates/recommendationservice.yaml
  helm-chart/templates/shippingservice.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.5.0
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#minor Update image tags in helm-chart/values.yaml
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.6.0
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update frontend.yaml for canary and virtual service
  helm-chart/templates/frontend.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.6.1
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update NOTES.txt to include virtual service IP address
  helm-chart/templates/NOTES.txt
Due: validate-version, package-release-chart

CI - Update chart version to 0.6.2
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Update resource limits and target CPU utilization percentages
  helm-chart/values.yaml
Due: validate-version, package-release-chart

CI - Update chart version to 0.6.3
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch test canary for frontend
  src/frontend/templates/home.html
Due: deploy

CI - Update chart version to 0.6.4
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch modifying comments
  src/frontend/templates/home.html
Due: deploy

CI - Update chart version to 0.6.5
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Add delay middleware to introduce a 3-second delay in requests in frontend service
  src/frontend/main.go
Due: deploy

CI - Update chart version to 0.6.6
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Add delay only for application requests
  src/frontend/main.go
Due: deploy

#patch Add strings package import
  src/frontend/main.go
Due: deploy

CI - Update chart version to 0.6.7
  helm-chart/Chart.yaml
Due: validate-version, package-release-chart

#patch Remove delay middleware from main.go
  src/frontend/main.go
Due: deploy

Path conditions:
  deploy: any of: src/**/*
  validate-version: any of: helm-chart/**/*
  package-release-chart: any of: helm-chart/**/*
